.about-me {
  .about-me__title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    color: rgb(53, 53, 53);
    font-size: 2.5em;
    margin-bottom: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .profile__picture {
    margin-top: 8%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    margin-top: 8%;
    border-radius: 10px;
  }

  .about-me__description {
    margin-top: 8%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(53, 53, 53);
  }
}

p1 {
  margin-bottom: 3%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p2 {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 1024px) {
  .about-me {
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-areas:
      "picture title"
      "picture description"
      "picture description";

    .about-me__title {
      grid-area: title;
      margin-bottom: 1px;
      margin-right: 25%;
    }

    .about-me__description {
      grid-area: description;
      margin-left: 10%;
      margin-right: 20%;
    }

    .profile__picture {
      grid-area: picture;
      margin-left: 10%;
    }
  }
}
