.intro {
    text-align: center;
    
    .intro__title {
        text-align: left;
        margin-top: 5%;
        margin-bottom: 0%;
        font-size: 15px;
        color: #1f1f25;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-transform: inherit;
        width: 70%;
        .my-name {
            color: #fd4766;
            text-align: left;
            margin-top: 0%;
            }
        }
    
    .intro__description {
        margin-top: 13%;
        font-size: 45px;
        letter-spacing: 4px;
        display: inline-block;
        margin-bottom: 20px;
        background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .intro__image{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .intro__image {
        display: block;
    }    
}