@use "variables" as *;

header {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.mandala {
  width: 200px;
  height: 200px;
  opacity: 0.2;
}

.logo {
  display: none;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .mandala {
    display: none;
  }

  .navbar {
    display: unset;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
    background-color: rgb(205, 132, 181);
    text-decoration: none;

    .logo {
      display: flex;
      color: #282525;
      font-size: 1.5rem;
      margin: 0.5rem;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: rgb(205, 132, 181);
      opacity: 0.6;
    }

    .navbar__home {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      background-color: rgb(205, 132, 181);
      text-decoration: none;
      padding: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .navbar__about {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      background-color: rgb(205, 132, 181);
      text-decoration: none;
      padding: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .navbar__projects {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      background-color: rgb(205, 132, 181);
      text-decoration: none;
      padding: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .navbar__contact {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      background-color: rgb(205, 132, 181);
      text-decoration: none;
      padding: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}
