@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "fuzzy-bubbles";
    background-color: $background-color;
}